<body id="section">
    @{
        ViewBag.Title = "Odeme";
    }

    <h2>Odeme</h2>

   ON PROGRESS...

</body>

<style>
    #section {
        background-color: Silver;
        font-size: large;
        font-weight: bold;
        font-style: oblique;
        text-align: center;
    }
</style>