<body id="section">
    <br />
    @{
        ViewBag.Title = "Iptal";
    }

    <h2>Iptal</h2>

    ON PROGRESS...

</body>

<style>
    #section {
        background-color: Silver;
        font-size: large;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
</style>