<body id="section">
    <br />

    @{
        ViewBag.Title = "Tei";
    }

    <h2>Tei</h2>

    Özgür Hasan Aytar <br />
    Melik Eralp<br />
    Stajyer<br />    

</body>

<style>
    #section {
        background-color: Silver;
        font-size: large;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
</style>